[submodule "Resources/Private/Php/Packager"]
	path = Resources/Private/Php/Packager
	url = https://github.com/kamicane/packager.git
[submodule "Resources/Public/Manifests/Behavior"]
	path = Resources/Public/Manifests/Behavior
	url = https://github.com/anutron/behavior.git
[submodule "Resources/Public/Manifests/MoreBehaviors"]
	path = Resources/Public/Manifests/MoreBehaviors
	url = https://github.com/anutron/more-behaviors.git
