<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Behavior</h1>

<f:flashMessages />

<table  class="tx_mootoolsessentials" >
	<tr>
		<th><f:translate key="tx_mootoolsessentials_domain_model_behavior.name" /></th>
		<th><f:translate key="tx_mootoolsessentials_domain_model_behavior.description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{behaviors}" as="behavior">
		<tr>
			<td><f:link.action action="show" arguments="{behavior : behavior}"> {behavior.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{behavior : behavior}"> {behavior.description}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{behavior : behavior}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{behavior : behavior}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Behavior</f:link.action>
</f:section>