{namespace m=Tx_MootoolsEssentials_ViewHelpers}
<f:layout name="Default" />

<f:section name="content">
<h1>Listing for Behaviors</h1>

<f:flashMessages />

<table  class="tx_mootoolsessentials" >
	<tr>
		<th><f:translate key="tx_mootoolsessentials_domain_model_behavior.name" /></th>
		<th><f:translate key="tx_mootoolsessentials_domain_model_behavior.description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{behaviors}" as="behavior">
		<tr>
			<td>{behavior.name}</td>
			<td>{behavior.description}</td>
		</tr>
	</f:for>
</table>


<div>
	<h2>Usage is always pretty much the same:</h2>
	<ol>
		<li>load the needed files (you just need to define the actual file/package you actually need, dependences will be resolved automatically)
			<ul>
				<li>in fluid*: <f:escape><![CDATA[<m:load file="More-Behaviors/Behavior.OverText" />]]></f:escape></li>
				<li>with ts**: plugin.tx_mootoolsessentials.settings.load.files.10 = More-Behaviors/Behavior.OverText</li>
			</ul>
		</li>
		<li>use the behavior with HTML5 <f:escape><input type="text" data-behavior="OverText" title="someText" /></f:escape></li>
	</ol>
	
	<p>*: you will need to define the namespace "m" with {<![CDATA[namespace m=Tx_MootoolsEssentials_ViewHelpers]]>}</p>
	<p>**: the "name" like in this example 10 is completely irrelevant as long as it's unique. We sugguested you use the name of the behavior e.g. .files.OverText = More-Behaviors/Behavior.OverText</p>
</div>

</f:section>